.partial {
    color: red;
}

#logo {
    height: 2em;
    margin-right: 0.5em;
}

#output {
    background-color: #eee;
    height: 500px;
    overflow: auto;
    padding: 10px;
}

#output span {
    margin-left: 1em;
}

#status {
    font-size: 9pt;
    margin-left: 10px;
}
